.button {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Cambria;
  font-size: 15px;
  color: black;
  padding: 8px 15px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.sidebarlist-container {
  padding: 0;
  list-style-type: none;
  gap: 20px;
}